---
import Layout from '../layouts/page.astro'

const routes = await Astro.glob('./routes/*.md')

---
	<Layout>

		<main class="min-h-screen flex-col items-center justify-between p-24">
			<h1 class="text-6xl font-bold">Federate This</h1>
			<h2 class="text-4xl font-bold">Your collection of fake APIs to use content federation in demos</h2>
		  
			<h3 class="text-xl font-bold">Routes</h3>
			<ul class=" text-lg">
				{routes.map(({frontmatter, url}) => (<li><a href={url}>{frontmatter.title</a></li>))}
			</ul>

		  </main>
		</Layout>