---

---

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }
    header a {
        color: #000;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: bold;
    }
</style>

<header>
    <!-- tailwind header -->
    <div class="">
        <a href="/" class="text-2xl font-bold text-gray-800">Federate This</a>
    </div>

</header>

